@import "../../constants/colors";

.formContainer {
  border: 1px solid $stormGrey;
  background-color: $white;
  //opacity: 0.9;
  padding: 15px 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  .formTitle {
    font-size: 20px;
    font-weight: bold;
  }

  .signinInput {
    margin-top: 20px;
    min-width: 250px;

    div input{
      height: 20px;
      padding: 10px 15px;
    }

    label {
      top: -9px;
      font-family: Lato;
    }
  }

  .notEmptySignInput {
    margin-top: 20px;
    min-width: 250px;

    div input{
      height: 20px;
      padding: 10px 15px;
      font-family: Lato;
    }
  }

  .inputIcon {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .signinButton {
    margin-top: 20px;
    width: 100%;
    background-color: $teal;
    opacity: 1;
    font-family: Lato;

    &:hover {
      background-color: $sherpaBlue;
      box-shadow: 0px 1px 10px 2px $nordic;
    }
  }
}