@import "../../constants/colors";

.settingsContainer {
  position: absolute;
  top: 50px;
  right: 30px;
  border: 1px solid $onahau;
  background-color: $white;
  border-radius: 5px;
  box-shadow: 8px 8px 8px 0px $onahau;

  .settingsHeader {
    font-family: 'Lato Black', sans-serif !important;
    border-bottom: 1px solid $onahau;
    padding: 10px 15px;
    color: $teal;
    font-size: 18px;
    display: flex;
    justify-content: center;
  }
}