$nordic: #023237;
$sherpaBlue: #024F56;
$stormGrey: #7e7f83;
$teal: #037c87;
$white: #ffffff;
$onahau: #C0DEE0;
$darkGreen: #021516;
$dolly: #F3EB6B;
$linkWater: #C2C3C5;
$shuttleGray: #636465;
$salem: #058240;
$freeSpeechRed: #B20000;
$elpaso: #3F3E1C