@import "../constants/colors";

.headerContainer {
  background-color: $onahau;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 30px;
  justify-content: space-between;
  font-size: 14px;

  .userContainer, .currentProjectContainer, iconsContainer {
    display: flex;
    align-items: center;

    .userEmail, .currentProject {
      margin-left: 10px;
      color: $nordic;
    }
  }
}