@import "../../constants/colors";

.mainContainer {
  padding: 10px 30px;
  display: flex;

  .mainContent {
    width: 100%;
  }

  .Mui-selected {
    background-color: $teal !important;
  }
}
.MuiPickerStaticWrapper-root {
    max-width: 330px;
 }

.leftSideBar {
  width: 25%;
}

.subHeader {
  color: $teal;
  font-family: 'Lato Black' !important;
  font-size: 20px;
  margin-left: 10px;
  margin-bottom: 10px;
}
