@import "../../constants/colors";

.projectItemContainer {
  border-bottom: 1px solid $linkWater;
  padding: 10px;
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:last-child {
    border-bottom: 1px solid transparent;
  }

  .closedStyle, .defaultStyle, .activeStyle {
    padding: 5px 10px;
    border-radius: 5px;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .defaultStyle {
    background-color: rgba(194,195,197, 0.5);
    color: $shuttleGray;
  }

  .activeStyle {
    background-color: rgba(5 ,130 ,64, 0.2);
    color: $salem;
  }

  .closedStyle {
    background-color: rgba(178 ,0 ,0, 0.2);
    color: $freeSpeechRed;
  }
}